.about {
  padding-top: 9.3rem;
  padding-bottom: 11rem;
  background-color: white;

  &-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -3rem;
  }

  &-item {
    margin-left: 3rem;
    width: calc(33.33% - 3rem);
  }
}
