.about {
  padding-top: 9.3rem;
  padding-bottom: 11rem;
  background-color: white;

  // ------ flex -box ----
  //   &-list {
  //     display: flex;
  //     flex-wrap: wrap;
  //     margin-left: -3rem;
  //   }

  //   &-item {
  //     margin-left: 3rem;
  //     width: calc(33.33% - 3rem);
  //   }

  // ------ css grid ----

  &-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }

  &-item {
    position: relative;
    z-index: 1;
    &::after {
      content: "";
      @include absoluteFull();
      @include bg($third-color);
      z-index: -1;
      transition: all 0, 25s linear;
    }
    &:hover {
      transform: translate(-1rem, -1rem);
      .about-content {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &-content {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    content: "";
    @include absoluteFull();
    background: linear-gradient(
      to bottom,
      rgba($primary-color, 0.8),
      rgba($secondary-color, 0.8)
    );
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.25s linear;
  }

  &-icon {
    color: white;
    margin-bottom: 1rem;
    font-size: 2rem;
  }

  &-title {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.8rem;
  }
}
