.about {
  padding-top: 9.3rem;
  padding-bottom: 11rem;
  background-color: white;

  // ------ flex -box ----
  //   &-list {
  //     display: flex;
  //     flex-wrap: wrap;
  //     margin-left: -3rem;
  //   }

  //   &-item {
  //     margin-left: 3rem;
  //     width: calc(33.33% - 3rem);
  //   }

  // ------ css grid ----

  &-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }

  &-item {
    position: relative;
  }

  &-content {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      rgba($primary-color, 0.8),
      rgba($secondary-color, 0.8)
    );
    z-index: 2;
    display: flex;
  }
}
