.people {
  padding: 10rem 0 3rem;
  background: linear-gradient(to bottom, rgba(white, 0.8), rgba(white, 0.8)),
    url(../images/img-people.png) no-repeat center / cover;

  &-list {
    padding-top: 9rem;
    @include flexbox(stretch, space-between, row, flex, wrap);
    padding: 4rem;
  }

  &-item {
    width: calc(50% - 4rem);
    margin-bottom: 7rem;
    @include flexbox(flex-start);
  }

  &-avatar {
    @include size(11.5rem);
    border-radius: 100rem;
    object-fit: cover;
    flex-shrink: 0;
  }

  &-info {
    padding-left: 3rem;
  }

  &-name {
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    font-weight: 500;
  }

  &-desc {
    font-style: normal;
  }

  &-job {
    display: inline-block;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    color: $title-color;
    position: relative;
    &::after {
      content: "";
      @include size(6.5rem, 4px);
      @include bg($primary-color);
      @include absoluteCenter(left);
    }
  }
}
