.quote {
  padding: 6.5rem 0;
  @include bg($gray-color);

  &-container {
    @include flexbox(center, space-between);
  }

  &-arrow {
    color: $gray-dark-color;
    cursor: pointer;
    font-size: 2rem;
    padding: 1rem 2rem;
  }
}
