.service {
  padding: 11rem 0 12rem;
  @include bg(white);

  &-list {
    @include flexbox;
    margin-left: -4rem;
    margin-top: 6.5rem;
  }
  &-item {
    width: calc(33.33% - 4rem);
    margin-left: 4rem;
    @include flexbox(flex-start);
    &-icon {
      font-size: 3.5rem;
      color: $third-color;
      margin: 0 3rem;
    }
    &-infor {
      width: calc(100% - 9.5rem);
    }

    &-title {
      color: $title-color;
      text-transform: uppercase;
      margin-bottom: 1.5rem;
    }

    &-desc {
      color: $text-color;
      line-height: 1.6;
      font-weight: 300;
      font-family: $secondary-font;
    }
  }
}
