.service {
  padding-top: 11rem 0 12rem;
  @include bg(white);

  &-list {
    @include flexbox;
  }
  &-item {
    width: 33.33%;
    &-icon {
      font-size: 3.4rem;
      color: $third-color;
      margin: 0 3rem;
    }
  }
}
