.team {
  background: #fff;
  padding: 10rem 0;

  &-info {
    margin-top: 3rem;
    text-align: center;
  }

  &-name {
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    font-weight: 500;
  }

  &-position {
    font-size: 1.5rem;
    font-weight: 300;
    font-style: italic;
  }
}
