.team {
  background: #fff;
  padding: 10rem 0;

  &-item {
    width: 330px;
  }

  &-image {
    @include size(100%);
    object-fit: cover;
  }

  &-info {
    margin-top: 3rem;
    text-align: center;
  }

  &-name {
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    font-weight: 500;
  }

  &-position {
    font-size: 1.5rem;
    font-weight: 300;
    font-style: italic;
    color: $text-color;
  }

  &-social {
    @include flexbox(center, center);
    &-link {
      @include flexbox(center, center);
      @include size(6rem);
      @include bg($secondary-color) color: $primary-color;
      font-size: 3rem;
    }
  }
}

@include hoverEffect(".team-main", ".team-content");
