.wedo {
  padding: 10rem 0;
  &-container {
    @include flexbox(stretch, space-between);
  }
  &-content,
  &-image {
    width: calc(50% - 1.5rem);
  }

  &-image {
    object-fit: cover;
  }

  &-item {
    &-header {
      @include flexbox(center);
      padding: 1.5rem;
      border: 1px solid $gray-dark-color;
    }
    &-icon {
      margin-right: 1.5rem;
    }
    &-title {
      text-transform: uppercase;
      font-weight: 500;
    }
    &-arrow {
      margin-left: auto;
      color: $gray-dark-color;
      font-size: 3rem;
    }
  }
}
