.work {
  padding-top: 10rem;

  &-list {
    @include flexbox;
    height: 78rem;
  }

  &-column {
    width: 25%;
  }

  &-icon {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  &-content {
    color: white;
    text-align: center;
    padding: 1.5rem;
  }

  &-title {
    text-transform: uppercase;
    margin-bottom: 1rem;
    line-height: 1.6;
    @include textClamp(1);
  }

  &-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &-iteam {
    height: 50%;
    &--full {
      height: 100%;
    }
  }

  @include maxWidth(1600px) {
    &-list {
      height: 60rem;
    }
  }

  @include maxWidth(1279px) {
    &-list {
      flex-wrap: wrap;
      overflow: hidden;
      height: auto;
    }
    &-column {
      width: 50%;
    }
    &-iteam {
      height: 42rem;
      &--full {
        height: 84rem;
      }
    }
  }

  @include maxWidth(767px) {
    padding: 5rem;
    &-column {
      width: 100%;
    }
    &-iteam {
      height: auto;
      &--full {
        height: auto;
      }
    }
  }
}

// css cho grid
.work {
  &-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 30rem;
  }
  &-iteam {
    height: 100% !important;
  }
}

@include hoverEffect(".work-iteam", ".work-content", "false");
