.work {
  padding-top: 10rem;

  &-list {
    @include flexbox;
  }

  &-column {
    width: 25%;
  }

  &-icon {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }

  &-content {
    color: white;
    text-align: center;
  }

  &-title {
    text-transform: uppercase;
    margin-bottom: 1.5rem;
  }

  &-desc {
    font-family: $secondary-font;
    font-size: 1.5rem;
  }
}

@include hoverEffect(".work-iteam", ".work-content", "false");
