.device {
  padding-top: 11rem;
  background-image: linear-gradient(
      to bottom,
      rgba(white, 0.9),
      rgba(white, 0.8)
    ),
    url("../images/img-bg-deviecs.jpg");
  &-imgage {
    margin: 0 auto -9.3rem;
    display: inline-block;
    @include absoluteCenter("left", relative);
  }
  //   &-media {
  //     text-align: center;
  //   }
  @include maxWidth(767px) {
    padding-top: 5rem;
    &-imgage {
      max-width: 80%;
      margin-bottom: -4.6rem;
    }
  }

  @include maxWidth(413px) {
    &-imgage {
      max-width: 80%;
      margin-bottom: -4.2rem;
    }
  }
}
