section.about
    .container
        +blockBox("What we do", "Story about us","Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate quia officiis quae, dicta suscipit dignissimos, qui cumque perferendis, eos totam reiciendis et ab temporibus fugit error iusto distinctio laborum debitis!")
        