section.about
	.container
		+blockBox("What we do", "Story about us","Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate quia officiis quae, dicta suscipit dignissimos, qui cumque perferendis, eos totam reiciendis et ab temporibus fugit error iusto distinctio laborum debitis!")
		.about-list 
			.about-item 
				img.about-image(src="https://images.unsplash.com/photo-1674673353737-9477adeb7e51?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80")
				.about-content 
					i.fa.fa-users.about-icon 
					span.about-title Super Team
			
			.about-item 
				img.about-image(src="https://images.unsplash.com/photo-1674673353737-9477adeb7e51?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80")
				.about-content 
					i.fa.fa-users.about-icon 
					span.about-title Super Team
			
			.about-item 
				img.about-image(src="https://images.unsplash.com/photo-1674673353737-9477adeb7e51?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80")
				.about-content 
					i.fa.fa-users.about-icon 
					span.about-title Super Team