footer.footer
    .container 
        .footer-top 
            .footer-column 
                h3.footer-heading Mogo 
                p.footer-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos deleniti, fuga dolorem nisi inventore sunt aperiam velit? Distinctio ab ipsum libero deleniti eos. Quaerat expedita explicabo illo, optio aliquam molestias.
                p.footer-follower <strong>15k</strong> followers
                .footer-social 
                    span Follow Us
                    .footer-social-list 
                        i.fab.fa.facebook 
                        i.fab.fa.facebook 
                        i.fab.fa.facebook 
                        i.fab.fa.facebook 
            .footer-column 
            .footer-column 
        .footer-bottom &copy; 2016 Mogo free PSD tamplate by <span>Laaiq</span>