footer.footer
    .container 
        .footer-top 
            .footer-column 
                h3.footer-heading.footer-heading--logo Mogo 
                p.footer-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos deleniti, fuga dolorem nisi inventore sunt aperiam velit? Distinctio ab ipsum libero deleniti eos. Quaerat expedita explicabo illo, optio aliquam molestias.
                p.footer-follower <strong>15k</strong> followers
                .footer-social 
                    span Follow Us
                    .footer-social-list 
                        i.fab.fa-facebook 
                        i.fab.fa-facebook 
                        i.fab.fa-facebook 
                        i.fab.fa-facebook 
                form.footer-form
                    input(type="email"  placeholder="Your Email").footer-form-input
                    button.footer-form-button Subscribe
            .footer-column 
                h3.footer-heading Blogs 
                .footer-blog 
                    img.footer-blog-info(src="", alt="")
                    .footer-blog-info 
                        h4 Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        span.footer-blog-date Jan 9, 2016
                .footer-blog 
                    img.footer-blog-info(src="", alt="")
                    .footer-blog-info 
                        h4 Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        span.footer-blog-date Jan 9, 2016
                .footer-blog 
                    img.footer-blog-info(src="", alt="")
                    .footer-blog-info 
                        h4 Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        span.footer-blog-date Jan 9, 2016
            .footer-column 
                h3.footer-heading Instagram 
                    .footer-images 
                        .footer-image 
                            img(src="", alt="")

        .footer-bottom &copy; 2016 Mogo free PSD tamplate by <span>Laaiq</span>