footer.footer
    .container 
        .footer-top 
            .footer-column 
                h3.footer-heading.footer-heading--logo Mogo 
                p.footer-desc.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos deleniti, fuga dolorem nisi inventore sunt aperiam velit? Distinctio ab ipsum libero deleniti eos. Quaerat expedita explicabo illo, optio aliquam molestias.
                p.footer-follower <strong>15k</strong> followers
                .footer-social 
                    span.text Follow Us
                    .footer-social-list 
                        i.fab.fa-facebook.footer-social--icon 
                        i.fab.fa-facebook.footer-social--icon 
                        i.fab.fa-facebook.footer-social--icon 
                        i.fab.fa-facebook.footer-social--icon 
                form.footer-form
                    input(type="email"  placeholder="Your Email").footer-form-input
                    button.footer-form-button Subscribe
            .footer-column 
                h3.footer-heading Blogs 
                .footer-blog 
                    img.footer-blog-image(src="https://images.unsplash.com/photo-1661956602153-23384936a1d3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80", alt="")
                    .footer-blog-info 
                        h4.footer-blog-title Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        span.footer-blog-date Jan 9, 2016
                .footer-blog 
                    img.footer-blog-image(src="https://images.unsplash.com/photo-1675326570919-946d728e9a25?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1212&q=80", alt="")
                    .footer-blog-info 
                        h4.footer-blog-title Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        span.footer-blog-date Jan 9, 2016
                .footer-blog 
                    img.footer-blog-image(src="https://images.unsplash.com/photo-1661956602116-aa6865609028?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80", alt="")
                    .footer-blog-info 
                        h4.footer-blog-title Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        span.footer-blog-date Jan 9, 2016
            .footer-column 
                h3.footer-heading Instagram 
                    .footer-images 
                        .footer-image 
                            img(src="", alt="")

        .footer-bottom &copy; 2016 Mogo free PSD tamplate by <span>Laaiq</span>