footer.footer
    .container 
        .footer-top 
            .footer-column 
                h3.footer-heading 
            .footer-column 
            .footer-column 
        .footer-bottom &copy; 2016 Mogo free PSD tamplate by <span>Laaiq</span>