mixin ListItem(title = "This is default title", caption)
    li.list-item 
        h2.list-title= title  
        if caption 
            span.list-caption= caption 
        if block 
            block

mixin nemuLink(title, href="#")
    li.header-menu-item 
        if title
            a.header-menu-link(href= href)= "noname"
        a.header-menu-link(href= href)= title
