section.people 
    .container 
        +blockBox("Happy Clients","What people say")
        ul.people-list 
            li.people-item
               +peopleItem
               +peopleItem
               +peopleItem
               +peopleItem