section.people 
    .container 
        +blockBox("Happy Clients","What people say")
        ul.people-list 
            li.people-item
                img.people-avatar(src="../images/img-people1.png", alt="")