section.people 
    .container 
        +blockBox("Happy Clients","What people say")
        ul.people-list 
            li.people-item
                img.people-avatar(src="../images/img-people1.png", alt="")
                .people-info 
                    h3.people-name Mathew Dix 
                    span.people-job Graphic design 
                    p.people-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis impedit numquam, dolor incidunt, aliquam beatae animi rem ea quis doloremque voluptatibus iste ex doloribus officia placeat illum nisi facere cumque!
            li.people-item
                img.people-avatar(src="../images/img-people2.png", alt="")
                .people-info 
                    h3.people-name Mathew Dix 
                    span.people-job Graphic design 
                    p.people-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis impedit numquam, dolor incidunt, aliquam beatae animi rem ea quis doloremque voluptatibus iste ex doloribus officia placeat illum nisi facere cumque!
            li.people-item
                img.people-avatar(src="../images/img-people3.png", alt="")
                .people-info 
                    h3.people-name Mathew Dix 
                    span.people-job Graphic design 
                    p.people-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis impedit numquam, dolor incidunt, aliquam beatae animi rem ea quis doloremque voluptatibus iste ex doloribus officia placeat illum nisi facere cumque!
            li.people-item
                img.people-avatar(src="../images/img-people4.png", alt="")
                .people-info 
                    h3.people-name Mathew Dix 
                    span.people-job Graphic design 
                    p.people-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis impedit numquam, dolor incidunt, aliquam beatae animi rem ea quis doloremque voluptatibus iste ex doloribus officia placeat illum nisi facere cumque!