section.people 
    .container 
        +blockBox("Happy Clients","What people say")
        ul.people-list 
            li.people-item
                img.people-avatar(src="https://images.unsplash.com/photo-1539571696357-5a69c17a67c6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8cGVvcGxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60", alt="")
                .people-info 
                    h3.people-name Mathew Dix 
                    span.people-job.text.text--light Graphic design 
                    p.people-desc.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis impedit numquam, dolor incidunt, aliquam beatae animi rem ea quis doloremque voluptatibus iste ex doloribus officia placeat illum nisi facere cumque!
