section.quote 
    .container 
        .quote-container 
            +quote-content("https://images.unsplash.com/photo-1677013417649-eee3690e56e6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80", true)
            +quote-content("https://images.unsplash.com/photo-1677013417649-eee3690e56e6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80", true)
            +quote-content("https://images.unsplash.com/photo-1677013417649-eee3690e56e6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80", true)
            //- .quote-content 
            //-     .quote-icon 
            //-         img(src="../images/img-quote.png")
            //-     .quote-info 
            //-         p.quote-desc Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio labore commodi eaque deleniti iure porro inventore est blanditiis sunt doloribus id cupiditate quo ipsum sapiente, obcaecati perferendis necessitatibus. Ad, recusandae.
            //-         span.quote-author Joe Doe 
            //- .quote-content 
            //-     .quote-icon 
            //-         img(src="../images/img-quote.png")
            //-     .quote-info 
            //-         p.quote-desc Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio labore commodi eaque deleniti iure porro inventore est blanditiis sunt doloribus id cupiditate quo ipsum sapiente, obcaecati perferendis necessitatibus. Ad, recusandae.
            //-         span.quote-author Joe Doe 
            //- .quote-content 
            //-     .quote-icon 
            //-         img(src="../images/img-quote.png")
            //-     .quote-info 
            //-         p.quote-desc Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio labore commodi eaque deleniti iure porro inventore est blanditiis sunt doloribus id cupiditate quo ipsum sapiente, obcaecati perferendis necessitatibus. Ad, recusandae.
            //-         span.quote-author Joe Doe 
            //- i.fal.fa-angle-left.quote-arrow-left.quote-arrow
            //- i.fal.fa-angle-right.quote-arrow-right.quote-arrow