section.quote 
    .container 
        .quote-container 
            +quote-content("../images/img-quote.png", true)
            +quote-content("../images/img-quote.png", true)
            +quote-content("../images/img-quote.png", true)