section.quote 
    .container 
        .quote-container 
            i.fa.fa-angle-left.quote-arrow-left
            .quote-content 
                .quote-icon 
                    img(src="../images/img-quote.png")
            i.fa.fa-angle-right.quote-arrow-right