section.quote 
    .container 
        .quote-container 
            i.fa.fa-angle-left.quote-arrow-left.quote-arrow
            .quote-content 
                .quote-icon 
                    img(src="../images/img-quote.png")
                .quote-info 
                    p.quote-desc Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio labore commodi eaque deleniti iure porro inventore est blanditiis sunt doloribus id cupiditate quo ipsum sapiente, obcaecati perferendis necessitatibus. Ad, recusandae.
                    span.quote-author Joe Doe 
            i.fa.fa-angle-right.quote-arrow-right.quote-arrow