script(src="https://code.jquery.com/jquery-1.11.0.min.js") 
script(src="https://code.jquery.com/jquery-migrate-1.2.1.min.js") 
script(src="https://slick/slick.min.js") 
script(src="./scripts/main.js")