section.service 
    .container Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa impedit exercitationem recusandae nisi vitae! Quod ad doloremque ut suscipit numquam odit provident perferendis officia quibusdam ab fugiat, non optio quasi.