section.service 
    .container
        +blockBox("We work with", "Amazing Service") 
        .service-container 
            .service-list 
                +serviceItem("Photography","Lorem ipsum dolor sit amet consectetur adipisicing elit.")
                +serviceItem("web design","Lorem ipsum dolor sit amet consectetur adipisicing elit.")
                +serviceItem("creativity","Lorem ipsum dolor sit amet consectetur adipisicing elit.")
            .service-list 
                +serviceItem("SEO","Lorem ipsum dolor sit amet consectetur adipisicing elit.")
                +serviceItem("CSS/HTML","Lorem ipsum dolor sit amet consectetur adipisicing elit.")
                +serviceItem("DIGITAL","Lorem ipsum dolor sit amet consectetur adipisicing elit.")