section.service 
    .container
        +blockBox("We work with", "Amazing Service") 
        .servive-list 
            .service-item 
                i.fa.fa-cog.service-item-icon 
                .service-item-infor 
                    h3.service-item-title Photography 
                    p.service-item-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil porro voluptatum libero eveniet nostrum aliquid illo illum, architecto neque perspiciatis ut laborum, earum veniam consequatur error labore praesentium harum! Perferendis.
                
                 .service-item 
                i.fa.fa-cog.service-item-icon 
                .service-item-infor 
                    h3.service-item-title Photography 
                    p.service-item-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil porro voluptatum libero eveniet nostrum aliquid illo illum, architecto neque perspiciatis ut laborum, earum veniam consequatur error labore praesentium harum! Perferendis.
                
                 .service-item 
                i.fa.fa-cog.service-item-icon 
                .service-item-infor 
                    h3.service-item-title Photography 
                    p.service-item-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil porro voluptatum libero eveniet nostrum aliquid illo illum, architecto neque perspiciatis ut laborum, earum veniam consequatur error labore praesentium harum! Perferendis.