section.story
    .container
        +blockBox("Our stories","Latest Blog")
        ul.story-list 
            li.story-item 
                .story-media 
                    img.story-image(src="../images/img-blog1.png", alt="")
                    .story-date 
                        span.story-date-number 15
                        span.story-date-text Jan
                h3.story-title Lorem ipsum dolor sit amet consectetur adipisicing elit