section.story
    .container
        +blockBox("Our stories","Latest Blog")
            ul.story-list 
                li.story-item 
                    .story-media 
                        img.story-image(src="../images/img-people1.png", alt="")
                        