section.story
    .container
        +blockBox("Our stories","Latest Blog")
        ul.story-list 
            li.story-item 
                .story-media 
                    img.story-image(src="../images/img-blog1.png", alt="")
                    .story-date 
                        span.story-date-number 15
                        span.story-date-text Jan
                h3.story-title Lorem ipsum dolor sit amet consectetur adipisicing elit
                p.story-desc Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum nulla amet reprehenderit sed, perspiciatis magni at ad iusto vitae nam, possimus iure maiores repellendus. Ipsa et in perferendis facere vitae.
                .story-meta 
                    .story-meta-item 
                        i.fa.fa-eye.story-meta-icon 
                        span.story-meta-number 542
                    .story-meta-item 
                        i.fa.fa-comment.story-meta-icon 
                        span.story-meta-number 17