section.story
    .container
        +blockBox("Our stories","Latest Blog")
            ul.story-list 
                li.story-item 
                    .story-media 
                        img.story-image(src="../images/img-blog1.png", alt="")
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem accusantium, ipsam aspernatur deserunt praesentium corrupti corporis quia laborum quidem temporibus. Voluptate fugit officiis consectetur et provident aliquid esse, placeat sapiente?