section.team 
    .container 
        +blockBox("Who we are", "Meet our team", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet modi quas adipisci explicabo ratione nam dolore veritatis earum officia in velit porro accusantium blanditiis voluptates pariatur commodi, fugiat ab consequuntur!")
        .team-list 
            .team-item 
                .team-main 
                    img(src="../images/img-team1.jpg", alt="")
                .team-info 
                    h3.team-name Christopher Cambell 
                    span.team-position Branding/UX team