section.team 
    .container 
        +blockBox("Who we are", "Meet our team", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet modi quas adipisci explicabo ratione nam dolore veritatis earum officia in velit porro accusantium blanditiis voluptates pariatur commodi, fugiat ab consequuntur!")
        .team-list 
            +teamIteam("./images/img-team1.jpg","Mathew Dix", "Graphic Design")
                +teamSocial("##")
            +teamIteam("./images/img-team2.jpg","Chirstopher Cambell", "Branding UX/ Design")
                +teamSocial("#2")
            +teamIteam("./images/img-team3.jpg","Micheal Pertig", "Developer")
                +teamSocial("#3")

section.brand 
    .container 
        img(src="../images/img-brands.png", alt="")
            
