section.wedo 
    .container 
        +blockBox("Service","What we do","Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis voluptatem amet labore quo sapiente cupiditate voluptatum? Quam nesciunt est modi nemo quis atque reiciendis reprehenderit, ratione iste quasi placeat dolore.")
        .wedo-container 
            img.wedo-image(src="../images/wedo-image.png")
            .wedo-content
                +wedoItem("../images/wedo-icon1.jpg","Photography","Lorem ipsum dolor, 
                sit amet consectetur adipisicing elit. Possimus quasi sit nostrum doloremque 
                incidunt ea dicta soluta provident hic pariatur repudiandae aperiam earum necessitatibus, 
                sunt vero dolorum consequuntur saepe ducimus.Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Possimus quasi sit nostrum doloremque incidunt ea dicta soluta provident hic pariatur repudiandae aperiam 
                earum necessitatibus, sunt vero dolorum consequuntur saepe ducimus." "is-active")
                +wedoItem("../images/wedo-icon2.jpg","Creativity","Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus quasi sit nostrum doloremque incidunt ea dicta soluta provident hic pariatur repudiandae aperiam earum necessitatibus, sunt vero dolorum consequuntur saepe ducimus.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus quasi sit nostrum doloremque incidunt ea dicta soluta provident hic pariatur repudiandae aperiam earum necessitatibus, sunt vero dolorum consequuntur saepe ducimus.")
                +wedoItem("../images/wedo-icon3.jpg","Web design","Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus quasi sit nostrum doloremque incidunt ea dicta soluta provident hic pariatur repudiandae aperiam earum necessitatibus, sunt vero dolorum consequuntur saepe ducimus.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus quasi sit nostrum doloremque incidunt ea dicta soluta provident hic pariatur repudiandae aperiam earum necessitatibus, sunt vero dolorum consequuntur saepe ducimus.")
                //- .wedo-item.is-active
                //-     .wedo-item-header 
                //-         img.wedo-item-icon(src="../images/wedo-icon1.jpg", alt="")
                //-         h3.wedo-item-title PhotographyPhotographyPhotographyPhotographyPhotographyPhotographyPhotographyPhotographyPhotographyPhotography
                //-         i.fal.fa-angle-up.wedo-item-arrow
                //-     .wedo-item-content 
                //-         .wedo-item-text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus quasi sit nostrum doloremque incidunt ea dicta soluta provident hic pariatur repudiandae aperiam earum necessitatibus, sunt vero dolorum consequuntur saepe ducimus.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus quasi sit nostrum doloremque incidunt ea dicta soluta provident hic pariatur repudiandae aperiam earum necessitatibus, sunt vero dolorum consequuntur saepe ducimus.
                //- .wedo-item 
                //-     .wedo-item-header 
                //-         img.wedo-item-icon(src="../images/wedo-icon2.jpg", alt="")
                //-         h3.wedo-item-title Creativity
                //-         i.fal.fa-angle-down.wedo-item-arrow
                //-     .wedo-item-content 
                //-         .wedo-item-text orem ipsum dolor, sit amet consectetur adipisicing elit. Possimus quasi sit nostrum doloremque incidunt ea dicta soluta provident hic pariatur repudiandae aperiam earum necessitatibus, sunt vero dolorum consequuntur saepe ducimus.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus quasi sit nostrum doloremque incidunt ea dicta soluta provident hic pariatur repudiandae aperiam earum necessitatibus, sunt vero dolorum consequuntur saepe ducimus.
                //- .wedo-item 
                //-     .wedo-item-header 
                //-         img.wedo-item-icon(src="../images/wedo-icon3.jpg", alt="")
                //-         h3.wedo-item-title Web design
                //-         i.fal.fa-angle-down.wedo-item-arrow
                //-     .wedo-item-content 
                //-         .wedo-item-text orem ipsum dolor, sit amet consectetur adipisicing elit. Possimus quasi sit nostrum doloremque incidunt ea dicta soluta provident hic pariatur repudiandae aperiam earum necessitatibus, sunt vero dolorum consequuntur saepe ducimus.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus quasi sit nostrum doloremque incidunt ea dicta soluta provident hic pariatur repudiandae aperiam earum necessitatibus, sunt vero dolorum consequuntur saepe ducimus.
                    
        