section.wedo 
    .container 
        +blockBox("Service","What we do","Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis voluptatem amet labore quo sapiente cupiditate voluptatum? Quam nesciunt est modi nemo quis atque reiciendis reprehenderit, ratione iste quasi placeat dolore.")
        .wedo-container 
            img(src="../images/wedo-image.png")
        