section.work
    .container 
        +blockBox("What we do","Some of work","Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum maiores, dignissimos facere exercitationem unde rerum dolorem, impedit reprehenderit enim necessitatibus ab ipsa error. Facilis a enim natus, id cupiditate iure?")
    .work-list 
        .work-column 
            .work-iteam 
                img.work-image(src="../images/img-work1.png", alt="")
                .work-content 
                    i.fa.fa-home.work-icon 
                    h3.work-title Creatively designed 
                    span.work-desc.text.text--light  Lorem, ipsum dolor sit
            .work-iteam 
                img.work-image(src="../images/img-work2.png", alt="")
                .work-content 
                    i.fa.fa-home.work-icon 
                    h3.work-title Creatively designed 
                    span.work-desc.text.text--light Lorem, ipsum dolor sit
        .work-column 
            .work-iteam 
                img.work-image(src="../images/img-work1.png", alt="")
                .work-content 
                    i.fa.fa-home.work-icon 
                    h3.work-title Creatively designed 
                    span.work-desc.text.text--light  Lorem, ipsum dolor sit
            .work-iteam 
                img.work-image(src="../images/img-work2.png", alt="")
                .work-content 
                    i.fa.fa-home.work-icon 
                    h3.work-title Creatively designed 
                    span.work-desc.text.text--light Lorem, ipsum dolor sit
        .work-column 
            .work-iteam.work-iteam--full 
                img.work-image(src="https://images.unsplash.com/photo-1675430427294-8aee1da3f5b9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80", alt="")
                .work-content 
                    i.fa.fa-home.work-icon 
                    h3.work-title Creatively designed 
                    span.work-desc.text.text--light Lorem, ipsum dolor sit
        .work-column 
            .work-iteam 
                img.work-image(src="../images/img-work1.png", alt="")
                .work-content 
                    i.fa.fa-home.work-icon 
                    h3.work-title Creatively designed 
                    span.work-desc.text.text--light  Lorem, ipsum dolor sit
            .work-iteam 
                img.work-image(src="../images/img-work2.png", alt="")
                .work-content 
                    i.fa.fa-home.work-icon 
                    h3.work-title Creatively designed 
                    span.work-desc.text.text--light Lorem, ipsum dolor sit
