section.work
    .container 
        +blockBox("What we do","Some of work","Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum maiores, dignissimos facere exercitationem unde rerum dolorem, impedit reprehenderit enim necessitatibus ab ipsa error. Facilis a enim natus, id cupiditate iure?")
    .work-list 
        .work-column 
            +workIteam
            +workIteam("../images/img-work2.png",)
        .work-column 
            +workIteam("../images/img-work3.png",)
            +workIteam("../images/img-work4.png",)
        .work-column 
            +workIteam("../images/img-work5.png",".work-iteam--full")
            //- .work-iteam.work-iteam--full 
            //-     img.work-image(src="../images/img-work5.png", alt="")
            //-     .work-content 
            //-         i.fa.fa-home.work-icon 
            //-         h3.work-title Creatively designed 
            //-         span.work-desc.text.text--light Lorem, ipsum dolor sit
        .work-column 
            +workIteam("../images/img-work6.png",)
            +workIteam("../images/img-work7.png",)
