section.work
    .container 
        +blockBox("What we do","Some of work","Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum maiores, dignissimos facere exercitationem unde rerum dolorem, impedit reprehenderit enim necessitatibus ab ipsa error. Facilis a enim natus, id cupiditate iure?")
        